JWT_SECRET=expensetrackerapp
NODE_MAILER_EMAIL=pegaislethal@gmail.com
NODE_MAILER_PASSWORD=dtomicejtdfgiyvv
SESSION_SECRET=expensetrackerapp
PORT=5000
CLOUDINARY_CLOUD_NAME=dmcyfapfa
CLOUDINARY_API_KEY=416342218133839
CLOUDINARY_API_SECRET=IZYjoendhS2pQpF8erSyKkGDjdc